# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs
site/

# pytest
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.status
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
cover/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
junit.xml
.python-version
